Repository dodona-edu/dolos, pull requests merged in 2022-06, with the labels that each got.

#753 Add sidebar links & version number
  web/src/App.vue
  web/tsconfig.json
Labels: enhancement, web UI

#726 Semantic analysis of matches
  cli/src/cli/commands/run.ts
  cli/src/cli/views/fileView.ts
  lib/.gitignore
  lib/src/index.ts
  lib/src/lib/analyze/SemanticAnalyzer.ts
  lib/src/lib/analyze/index.ts
  lib/src/lib/analyze/report.ts
  lib/src/lib/file/file.ts
  lib/src/lib/file/tokenizedFile.ts
  lib/src/lib/util/identifiable.ts
  lib/src/lib/util/options.ts
  lib/src/lib/util/region.ts
  lib/src/lib/util/utils.ts
  lib/src/test/semantic.test.ts
  lib/yarn.lock
  server/src/config/environment.d.ts
  server/src/index.ts
  server/src/routes.ts
  server/views/index.eta
  web/public/data/files.csv
  web/public/data/kgrams.csv
  web/public/data/metadata.csv
  web/public/data/pairs.csv
  web/public/data/semantic.json
  web/src/api/api.ts
  web/src/components/CompareCard.vue
  web/src/components/CompareSide.vue
  web/src/components/FragmentList.vue
  web/src/components/SemanticList.vue
  web/src/components/overview/OverviewBarchart.vue
  web/src/components/summary/FileCard.vue
  web/src/components/summary/FileCardScore.vue
  web/src/components/summary/PairStatHistogram.vue
  web/src/components/summary/SummaryList.vue
  web/src/components/summary/SummaryVisualisation.vue
  web/src/store/api.ts
  web/src/util/FileInterestingness.ts
  web/src/views/DataView.ts
  web/vue.config.js
Labels: enhancement, CLI, web UI, library

#757 Prepare refactor to Composition API
  web/package.json
  web/src/main.ts
  web/tsconfig.json
  web/vue.config.js
  yarn.lock
Labels: web UI, refactor

#758 Implement new API stores & refactor App component
  web/package.json
  web/src/App.vue
  web/src/api/index.ts
  web/src/api/models/file.ts
  web/src/api/models/fragment.ts
  web/src/api/models/hash.ts
  web/src/api/models/index.ts
  web/src/api/models/kgram.ts
  web/src/api/models/metadata.ts
  web/src/api/models/objmap.ts
  web/src/api/models/pair.ts
  web/src/api/models/paired-occurrence.ts
  web/src/api/models/selection.ts
  web/src/api/stores/file.store.ts
  web/src/api/stores/index.ts
  web/src/api/stores/kgram.store.ts
  web/src/api/stores/metadata.store.ts
  web/src/api/stores/pair.store.ts
  web/src/api/stores/settings.store.ts
  web/src/api/utils/assert.ts
  web/src/api/utils/cast.ts
  web/src/api/utils/file.ts
  web/src/api/utils/index.ts
  web/src/composables/index.ts
  web/src/composables/useBreakpoints.ts
  web/src/composables/useRouter.ts
  web/src/composables/useVuetify.ts
  yarn.lock
Labels: web UI, refactor

#763 Merge main into refactor
  cli/src/cli/commands/run.ts
  cli/src/cli/views/fileView.ts
  lib/.gitignore
  lib/src/index.ts
  lib/src/lib/analyze/SemanticAnalyzer.ts
  lib/src/lib/analyze/index.ts
  lib/src/lib/analyze/report.ts
  lib/src/lib/file/file.ts
  lib/src/lib/file/tokenizedFile.ts
  lib/src/lib/util/identifiable.ts
  lib/src/lib/util/options.ts
  lib/src/lib/util/region.ts
  lib/src/lib/util/utils.ts
  lib/src/test/semantic.test.ts
  lib/yarn.lock
  server/src/config/environment.d.ts
  server/src/index.ts
  server/src/routes.ts
  server/views/index.eta
  web/public/data/files.csv
  web/public/data/kgrams.csv
  web/public/data/metadata.csv
  web/public/data/pairs.csv
  web/public/data/semantic.json
  web/src/api/models/file.ts
  web/src/api/models/index.ts
  web/src/api/models/pair.ts
  web/src/api/models/semantic.ts
  web/src/api/stores/api.store.ts
  web/src/api/stores/file.store.ts
  web/src/api/stores/index.ts
  web/src/api/stores/pair.store.ts
  web/src/api/stores/semantic.store.ts
  web/src/api/utils/file.ts
  web/src/components/CompareCard.vue
  web/src/components/CompareSide.vue
  web/src/components/FragmentList.vue
  web/src/components/PairsTable.vue
  web/src/components/SemanticList.vue
  web/src/components/clustering/ClusteringCard.vue
  web/src/components/overview/OverviewBarchart.vue
  web/src/components/summary/FileCard.vue
  web/src/components/summary/FileCardScore.vue
  web/src/components/summary/PairStatHistogram.vue
  web/src/components/summary/SummaryList.vue
  web/src/components/summary/SummaryVisualisation.vue
  web/src/composables/index.ts
  web/src/composables/useRoute.ts
  web/src/util/FileInterestingness.ts
  web/src/views/DataView.ts
Labels: web UI, refactor

#767 Run demo analysis with --semantic flag
  .github/workflows/release.yml
  yarn.lock
Labels: chore

#782 Remove background color on code
  web/src/components/CompareSide.vue
Labels: bug, web UI
