Repository dodona-edu/dolos, pull requests merged in 2022-08, with the labels that each got.

#809 Upgrade to Vue 2.7
  web/package.json
  web/src/App.vue
  web/src/api/stores/api.store.ts
  web/src/api/stores/file.store.ts
  web/src/api/stores/kgram.store.ts
  web/src/api/stores/metadata.store.ts
  web/src/api/stores/pair.store.ts
  web/src/api/stores/semantic.store.ts
  web/src/components/BarcodeChart.vue
  web/src/components/ClusteringTable.vue
  web/src/components/CompareCard.vue
  web/src/components/CompareSide.vue
  web/src/components/FragmentItem.vue
  web/src/components/FragmentList.vue
  web/src/components/PairsTable.vue
  web/src/components/SemanticList.vue
  web/src/components/clustering/ClusteringCard.vue
  web/src/components/clustering/FileTagList.vue
  web/src/components/clustering/GraphTab.vue
  web/src/components/clustering/HeatMap.vue
  web/src/components/clustering/TimeSeries.vue
  web/src/components/clustering/TimeSeriesCard.vue
  web/src/components/graph/Graph.vue
  web/src/components/overview/OverviewBarchart.vue
  web/src/components/summary/FileCard.vue
  web/src/components/summary/FileCardScore.vue
  web/src/components/summary/PairStatHistogram.vue
  web/src/components/summary/SummaryList.vue
  web/src/components/summary/SummaryVisualisation.vue
  web/src/composables/useBreakpoints.ts
  web/src/composables/useCluster.ts
  web/src/composables/useClustering.ts
  web/src/composables/useLegend.ts
  web/src/composables/useRoute.ts
  web/src/composables/useRouter.ts
  web/src/composables/useVuetify.ts
  web/src/d3-tools/GraphElementList.vue
  web/src/d3-tools/GraphLegend.vue
  web/src/d3-tools/GraphSelectedInfo.vue
  web/src/main.ts
  web/src/util/Types.ts
  web/src/views/Compare.vue
  web/src/views/FileAnalysis.vue
  web/src/views/GraphView.vue
  web/src/views/Overview.vue
  web/src/views/Pairs.vue
  web/tsconfig.json
  yarn.lock
Labels: web UI, refactor

#801 Migrate docs to Vuepress v2 beta
  .gitignore
  docs/.gitignore
  docs/.vuepress/config.js
  docs/.vuepress/enhanceApp.js
  docs/.vuepress/styles/index.scss
  docs/.vuepress/styles/index.styl
  docs/.vuepress/styles/palette.styl
  docs/README.md
  docs/package.json
  docs/public/dolos-js-samples.zip
  docs/public/images/figure08.png
  docs/public/images/soco-c-graph.png
  docs/public/images/soco-java-graph-circle.png
  docs/public/images/soco-java-graph.png
  docs/try/README.md
  docs/vuepress.config.ts
  package.json
  web/vue.config.js
  yarn.lock
Labels: documentation

#818 Improve pair code viewer & add diff viewer
  web/.eslintrc
  web/package.json
  web/src/App.vue
  web/src/api/models/index.ts
  web/src/api/models/match.ts
  web/src/api/models/metadata.ts
  web/src/api/models/pair.ts
  web/src/api/stores/pair.store.ts
  web/src/components/BarcodeChart.vue
  web/src/components/CompareCard.vue
  web/src/components/FragmentItem.vue
  web/src/components/FragmentList.vue
  web/src/components/PairsTable.vue
  web/src/components/pair/PairCodeDiff.vue
  web/src/components/pair/PairCodeMatch.vue
  web/src/components/pair/PairCodeMatchEditor.vue
  web/src/views/Compare.vue
  web/src/views/Pairs.vue
  web/vue.config.js
  yarn.lock
Labels: enhancement, web UI

#822 Improve graph view
  web/src/components/ClusteringTable.vue
  web/src/components/PairsTable.vue
  web/src/components/clustering/ClusteringCard.vue
  web/src/components/clustering/FileTagList.vue
  web/src/components/clustering/GraphTab.vue
  web/src/components/clustering/HeatMap.vue
  web/src/components/clustering/TimeSeries.vue
  web/src/components/clustering/TimeSeriesCard.vue
  web/src/components/graph/Graph.vue
  web/src/components/settings/SimilaritySetting.vue
  web/src/composables/d3/useD3Tooltip.ts
  web/src/composables/index.ts
  web/src/composables/useCluster.ts
  web/src/d3-tools/GraphElementList.vue
  web/src/d3-tools/GraphSelectedInfo.vue
  web/src/d3-tools/TooltipTool.ts
  web/src/d3-tools/chevron.svg
  web/src/views/GraphView.vue
  web/src/views/Overview.vue
  web/src/views/Pairs.vue
Labels: web UI

#836 Improve Monaco editor performance
  web/package.json
  web/vue.config.js
Labels: web UI

#823 On demand pseudonymization without refetch/parsing
  web/src/App.vue
  web/src/api/models/file.ts
  web/src/api/stores/api.store.ts
  web/src/api/stores/file.store.ts
Labels: web UI

#839 Use webworkers for expensive tasks & faster CSV parsing.
  web/package.json
  web/src/App.vue
  web/src/api/index.ts
  web/src/api/stores/api.store.ts
  web/src/api/stores/file.store.ts
  web/src/api/stores/kgram.store.ts
  web/src/api/stores/metadata.store.ts
  web/src/api/stores/pair.store.ts
  web/src/api/utils/csv/parse.ts
  web/src/api/utils/file.ts
  web/src/api/utils/index.ts
  web/src/api/workers/data.worker.ts
  web/src/components/Loading.vue
  web/src/views/Compare.vue
  web/tsconfig.json
  web/vue.config.js
Labels: web UI

#819 Fix multiple overlapping fragments
  lib/src/lib/analyze/pair.ts
  lib/src/lib/util/range.ts
  lib/src/test/pair.test.ts
Labels: bug, library

#841 Improve UI
  web/.eslintrc
  web/src/App.vue
  web/src/api/index.ts
  web/src/api/models/coordinate.ts
  web/src/api/models/index.ts
  web/src/api/stores/api.store.ts
  web/src/components/CompareCard.vue
  web/src/components/InfoDot.vue
  web/src/components/LabelDot.vue
  web/src/components/PairsTable.vue
  web/src/components/clustering/ClusteringCard.vue
  web/src/components/clustering/GraphTab.vue
  web/src/components/clustering/HeatMap.vue
  web/src/components/clustering/TimeSeriesCard.vue
  web/src/components/graph/Graph.vue
  web/src/components/overview/OverviewBarchart.vue
  web/src/components/pair/SimilarityDisplay.vue
  web/src/components/settings/SimilaritySetting.vue
  web/src/components/summary/PairStatHistogram.vue
  web/src/composables/d3/useD3HullTool.ts
  web/src/composables/index.ts
  web/src/d3-tools/ConvexHullTool.ts
  web/src/d3-tools/GraphElementList.vue
  web/src/d3-tools/GraphElementListCard.vue
  web/src/d3-tools/GraphSelectedInfo.vue
  web/src/plugins/vuetify.ts
  web/src/views/GraphView.vue
  web/src/views/Overview.vue
Labels: web UI

#866 Refactor linting rules
  .eslintrc
  web/.eslintrc
  web/src/api/utils/assert.ts
  web/src/api/utils/cutoff.ts
  web/src/components/clustering/TimeSeries.vue
  web/src/components/overview/OverviewBarchart.vue
  web/src/composables/d3/useD3HullTool.ts
  web/src/d3-tools/GraphLegend.vue
  web/src/util/Clustering.ts
  web/src/util/FileInterestingness.ts
  web/src/util/FileSelectionManager.ts
  web/src/util/clustering-algorithms/ClusterFunctions.ts
  web/src/util/clustering-algorithms/SingleLinkageClustering.ts
  web/tsconfig.json
Labels: web UI

#867 Fix comlink production errors on data worker
  web/package.json
  web/src/api/stores/pair.store.ts
  web/src/api/workers/data.worker.ts
  web/src/components/settings/SimilaritySetting.vue
  web/vue.config.js
  yarn.lock
Labels: bug, web UI

#864 Add breadcrumbs & back button
  web/src/App.vue
  web/src/api/stores/pair.store.ts
  web/src/components/Breadcrumbs.vue
  web/src/components/ClusteringTable.vue
  web/src/components/PairsTable.vue
  web/src/components/SubmissionsPairsTable.vue
  web/src/components/clustering/ClusteringCard.vue
  web/src/composables/index.ts
  web/src/composables/useCluster.ts
  web/src/composables/useRouteQuery.ts
  web/src/d3-tools/GraphSelectedInfo.vue
  web/src/router/index.ts
  web/src/stores/breadcrumb.store.ts
  web/src/stores/index.ts
  web/src/views/Graph.vue
  web/src/views/Pair.vue
  web/src/views/Pairs.vue
  web/src/views/Submission.vue
  web/src/views/Submissions.vue
Labels: web UI

#870 Allow passing a zip-file as input
  cli/src/cli/commands/run.ts
  lib/src/dolos.ts
  lib/src/test/dolos.test.ts
  samples/javascript/simple-dataset.zip
  web/vue.config.js
Labels: enhancement, CLI, library

#868 Add global state settings
  web/src/App.vue
  web/src/api/models/file.ts
  web/src/api/models/index.ts
  web/src/api/models/label.ts
  web/src/api/models/legend.ts
  web/src/api/stores/api.store.ts
  web/src/api/stores/file.store.ts
  web/src/api/stores/kgram.store.ts
  web/src/api/stores/pair.store.ts
  web/src/api/stores/semantic.store.ts
  web/src/components/ClusteringTable.vue
  web/src/components/LabelsTable.vue
  web/src/components/SubmissionCode.vue
  web/src/components/SubmissionsPairsTable.vue
  web/src/components/clustering/FileTagList.vue
  web/src/components/clustering/GraphTab.vue
  web/src/components/clustering/HeatMap.vue
  web/src/components/clustering/TimeSeries.vue
  web/src/components/graph/Graph.vue
  web/src/components/overview/OverviewBarchart.vue
  web/src/components/settings/SimilaritySetting.vue
  web/src/components/summary/PairStatHistogram.vue
  web/src/composables/index.ts
  web/src/composables/useLegend.ts
  web/src/composables/usePartialLegend.ts
  web/src/d3-tools/GraphSelectedInfo.vue
  web/src/views/Graph.vue
  web/src/views/Overview.vue
  web/src/views/Pairs.vue
  web/src/views/Submission.vue
  web/src/views/Submissions.vue
Labels: web UI

#877 Components auto import & cleanup of d3-tools directory
  web/package.json
  web/src/App.vue
  web/src/components/ClusteringTable.vue
  web/src/components/CompareCard.vue
  web/src/components/GraphElementList.vue
  web/src/components/GraphElementListCard.vue
  web/src/components/GraphLegend.vue
  web/src/components/GraphSelectedInfo.vue
  web/src/components/LabelsTable.vue
  web/src/components/PairsTable.vue
  web/src/components/SemanticList.vue
  web/src/components/SubmissionCard.vue
  web/src/components/SubmissionsPairsTable.vue
  web/src/components/SubmissionsTable.vue
  web/src/components/clustering/ClusteringCard.vue
  web/src/components/clustering/GraphTab.vue
  web/src/components/clustering/HeatMap.vue
  web/src/components/clustering/TimeSeries.vue
  web/src/components/clustering/TimeSeriesCard.vue
  web/src/components/pair/PairCodeDiff.vue
  web/src/components/pair/PairCodeFileInfo.vue
  web/src/components/pair/PairCodeMatch.vue
  web/src/components/pair/PairCodeMatchEditor.vue
  web/src/d3-tools/TooltipTool.ts
  web/src/types/imports-components.d.ts
  web/src/util/SelectionTool.ts
  web/src/views/Graph.vue
  web/src/views/Overview.vue
  web/src/views/Pair.vue
  web/src/views/Pairs.vue
  web/src/views/Submission.vue
  web/src/views/Submissions.vue
  web/vue.config.js
Labels: web UI

#879 Fix clustering algorithm on threshold of 100%
  web/src/util/clustering-algorithms/SingleLinkageClustering.ts
Labels: bug, web UI

#881 Fix anonymization on compare page
  web/src/api/stores/file.store.ts
  web/src/api/stores/pair.store.ts
Labels: web UI, algorithm
