Repository dodona-edu/dolos, pull requests merged in 2022-07, with the labels that each got.

#786 Improve performance & fix graph bugs
  web/src/App.vue
  web/src/api/stores/api.store.ts
  web/src/api/stores/file.store.ts
  web/src/api/stores/kgram.store.ts
  web/src/api/stores/metadata.store.ts
  web/src/api/stores/pair.store.ts
  web/src/api/stores/semantic.store.ts
  web/src/components/ClusteringTable.vue
  web/src/components/CompareCard.vue
  web/src/components/FragmentList.vue
  web/src/components/PairsTable.vue
  web/src/components/clustering/ClusteringCard.vue
  web/src/components/clustering/FileTagList.vue
  web/src/components/clustering/GraphTab.vue
  web/src/components/clustering/HeatMap.vue
  web/src/components/clustering/TimeSeries.vue
  web/src/components/clustering/TimeSeriesCard.vue
  web/src/components/graph/Graph.vue
  web/src/components/overview/OverviewBarchart.vue
  web/src/components/summary/FileCard.vue
  web/src/components/summary/PairStatHistogram.vue
  web/src/components/summary/SummaryList.vue
  web/src/components/summary/SummaryVisualisation.vue
  web/src/composables/useClustering.ts
  web/src/composables/useLegend.ts
  web/src/d3-tools/GraphLegend.vue
  web/src/views/Compare.vue
  web/src/views/GraphView.vue
  web/src/views/Overview.vue
  yarn.lock
Labels: enhancement, web UI

#787 Conditionally fetch semantic information, based on the metadata
  cli/src/cli/views/fileView.ts
  web/src/api/stores/semantic.store.ts
Labels: bug

#789 Fix incorrect background color in code editor
  web/src/components/CompareSide.vue
Labels: web UI

#794 Fix GitHub Actions
  .github/workflows/ci-cd.yml
  .github/workflows/cli.yml
  .github/workflows/dependencies.yml
  .github/workflows/docs.yml
  .github/workflows/lib.yml
  .github/workflows/release.yml
  .github/workflows/web.yml
Labels: chore
