Repository dodona-edu/dolos, pull requests merged in 2023-04, with the labels that each got.

#1088 Add labels to pairwise comparison
  web/src/api/stores/file.store.ts
  web/src/components/pair/PairCodeFileInfo.vue
Labels: web UI

#1089 Fix submissions ordering on overview page
  web/src/components/clustering/ClustersTable.vue
  web/src/components/submission/SubmissionsTable.vue
  web/src/views/Overview.vue
Labels: bug

#884 Upload page & support for multiple datasets
  lib/src/lib/analyze/report.ts
  web/.env
  web/.eslintrc
  web/package.json
  web/src/App.vue
  web/src/api/index.ts
  web/src/api/stores/api.store.ts
  web/src/api/stores/file.store.ts
  web/src/api/stores/kgram.store.ts
  web/src/api/stores/metadata.store.ts
  web/src/api/stores/pair.store.ts
  web/src/api/workers/data.worker.ts
  web/src/components/Breadcrumbs.vue
  web/src/components/LabelsTable.vue
  web/src/components/clustering/ClustersTable.vue
  web/src/components/clustering/HeatMap.vue
  web/src/components/graph/GraphElementList.vue
  web/src/components/graph/GraphSelectedInfo.vue
  web/src/components/layout/Navbar.vue
  web/src/components/layout/Sidebar.vue
  web/src/components/overview/OverviewBarchart.vue
  web/src/components/pair/PairCodeFileInfo.vue
  web/src/components/pair/PairsTable.vue
  web/src/components/submission/SubmissionCard.vue
  web/src/components/submission/SubmissionsPairsTable.vue
  web/src/components/submission/SubmissionsTable.vue
  web/src/components/summary/PairStatHistogram.vue
  web/src/components/upload/UploadFormCard.vue
  web/src/components/upload/UploadInput.vue
  web/src/components/upload/UploadStatus.vue
  web/src/components/upload/UploadsTable.vue
  web/src/components/upload/UploadsTableDeleteDialog.vue
  web/src/components/upload/UploadsTableInfoDialog.vue
  web/src/components/upload/UploadsTableShareDialog.vue
  web/src/components/util/snackbar/Snackbar.vue
  web/src/components/util/snackbar/SnackbarOptions.ts
  web/src/components/util/snackbar/useSnackbar.ts
  web/src/composables/index.ts
  web/src/composables/useAppMode.ts
  web/src/layouts/analysis.vue
  web/src/layouts/upload.vue
  web/src/router/index.ts
  web/src/stores/index.ts
  web/src/stores/reports.store.ts
  web/src/types/imports-components.d.ts
  web/src/types/uploads/ReferenceReport.ts
  web/src/types/uploads/UploadReport.ts
  web/src/types/uploads/UploadReportStatus.ts
  web/src/views/analysis/cluster.vue
  web/src/views/analysis/clusters.vue
  web/src/views/analysis/graph.vue
  web/src/views/analysis/overview.vue
  web/src/views/analysis/pair.vue
  web/src/views/analysis/pairs.vue
  web/src/views/analysis/submission.vue
  web/src/views/analysis/submissions.vue
  web/src/views/upload/share.vue
  web/src/views/upload/upload.vue
  yarn.lock
Labels: web UI

#1087 Make timestamp formats consistent
  web/src/components/FileTimestamp.vue
  web/src/components/clustering/TimeSeries.vue
  web/src/components/graph/GraphSelectedInfo.vue
  web/src/util/SortingFunctions.ts
  web/src/util/TimeFormatter.ts
Labels: web UI

#1090 Add 'View pair' button to graph when applicable
  web/src/components/graph/GraphSelectedInfo.vue
Labels: web UI

#1093 Specialized view when comparing only 2 files (single pair)
  web/src/api/stores/pair.store.ts
  web/src/components/layout/Sidebar.vue
  web/src/router/index.ts
  web/src/views/analysis/index.vue
  web/src/views/analysis/pair.vue
Labels: enhancement, web UI

#1079 Improve graph performance and code quality
  web/.eslintrc
  web/src/api/stores/pair.store.ts
  web/src/components/graph/Graph.vue
  web/src/components/graph/GraphSelectedInfo.vue
  web/src/composables/d3/graph/data.ts
  web/src/composables/d3/graph/interaction.ts
  web/src/composables/d3/graph/rendering.ts
  web/src/composables/d3/graph/simulation.ts
  web/src/composables/d3/useD3ForceGraph.ts
  web/src/composables/d3/useD3Tooltip.ts
  web/src/views/analysis/cluster.vue
  web/src/views/analysis/graph.vue
  web/src/views/analysis/submission.vue
Labels: enhancement

#1109 Subtract timestamp offset instead of adding it when running anonymization
  web/src/api/stores/file.store.ts
Labels: bug, web UI

#1110 Refactor/cleanup/bugfixes of D3 components
  web/src/components/SimilarityHistogram.vue
  web/src/components/clustering/ClusterHeatMap.vue
  web/src/components/clustering/ClusterTimeSeries.vue
  web/src/components/overview/OverviewBarchart.vue
  web/src/components/submission/SubmissionHistogram.vue
  web/src/types/imports-components.d.ts
  web/src/views/analysis/cluster.vue
  web/src/views/analysis/graph.vue
  web/src/views/analysis/overview.vue
  web/src/views/analysis/submission.vue
Labels: web UI
