Repository dodona-edu/dolos, pull requests merged in 2023-05, with the labels that each got.

#1111 Add archiving system with uploads
  web/src/App.vue
  web/src/api/stores/api.store.ts
  web/src/api/stores/file.store.ts
  web/src/components/layout/PageError.vue
  web/src/components/layout/PageLoading.vue
  web/src/components/upload/UploadFormCard.vue
  web/src/components/upload/UploadStatus.vue
  web/src/components/upload/UploadsTable.vue
  web/src/components/upload/UploadsTableDeleteDialog.vue
  web/src/components/upload/UploadsTableInfoDialog.vue
  web/src/components/upload/UploadsTableShareDialog.vue
  web/src/layouts/analysis.vue
  web/src/layouts/upload.vue
  web/src/router/index.ts
  web/src/stores/reports.store.ts
  web/src/types/imports-components.d.ts
  web/src/types/uploads/UploadReportStatus.ts
  web/src/views/upload/share.vue
Labels: web UI

#1127 Fix bug in API job runner where the directory would already exist
  api/app/jobs/analyze_dataset_job.rb
  api/test/jobs/analyze_dataset_job_test.rb
Labels: bug, API

#1128 configure deployment
  api/config/deploy.rb
  web/deploy-server.sh
Labels: chore

#1133 Set report name for uploads
  api/app/jobs/analyze_dataset_job.rb
  api/test/jobs/analyze_dataset_job_test.rb
Labels: bug, API
