Repository dodona-edu/dolos, pull requests merged in 2024-10, with the labels that each got.

#1602 Add instructions to build dolos-core in web/CONTRIBUTING.md
  web/CONTRIBUTING.md
Labels: documentation, web UI

#1612 Add support for template files into CSV parsing
  core/src/file/file.ts
  lib/src/lib/dataset.ts
  lib/src/lib/dolos.ts
  lib/src/test/dolos.test.ts
  lib/src/test/fixtures/javascript/info_with_template.csv
Labels: enhancement, Dolos CLI, Dolos library

#1630 Improve tokenizer performance
  lib/src/lib/tokenizer/charTokenizer.ts
  lib/src/lib/tokenizer/codeTokenizer.ts
  lib/src/lib/tokenizer/tokenizer.ts
  lib/src/test/dolos.test.ts
  lib/src/test/tokenizer.test.ts
Labels: enhancement, Dolos library, algorithm
